.overlay {
    display: none;
    position: fixed;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.267);
    opacity: 0;
    height: 100vh;
    width: 100vw;
}

.popup {
    display: none;
    position: fixed;
    z-index: 25;
    left: 50%;
    top: 50%;
    overflow: hidden;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 5px solid var(--blue);
    box-shadow: 8px 8px 0 var(--blue);
    font-family: Monocraft;
    transition: all .3s cubic-bezier(0.07, 0.61, 0.39, 1.69);
}

h1 {
    font-weight: 400;
    user-select: none;
    margin: 0;
    color: var(--text-shadow);
    font-size: 45px;
}

.close {
    position: absolute;
    font-size: 40px;
    width: 80px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    color: white;
    background-color: var(--blue);
}

.close:hover {
    transform: scale(1.2);
}

.close:active {
    transform: scale(1);
}

.textarea {
    margin: 20px 25px;
    height: 70px;
    max-width: 85%;
    border: 2px solid var(--text-shadow);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    font-family: Monocraft;
    font-size: 30px;
    color: var(--text-color);
    box-shadow: 0 0 10px rgba(91, 159, 255, 0.5);
}

.textarea:focus {
    outline: none;
    border: 2px solid var(--text-color);
    border-radius: 5px;
}

::placeholder {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 30px;
    font-family: Monocraft;
    font-size: 25px;
    color: var(--placeholder);
}

button {
    user-select: none;
    border: none;
    font-family: Monocraft;
    transition: all .3s ease;
}

button:hover {
    cursor: pointer;
    text-shadow: 0 0 10px white;
}

