*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #8DBCFF;
    --player-main-blue: #B8D5FF;
    --text-shadow: #5B9FFF;
    --text-color: #488BFF;
    --nav-shadow: #ACECFF;
    --placeholder: #A4ADBB;
    --bg-color: #F4FBFF;
    --card-color: #CAEEFF;
}

@font-face {
    font-family: Monocraft;
    src: url('../fonts/Monocraft.woff');
}

ul {
    list-style: none;
}

h1, h2, h3, p, ol, figcaption, blockquote {
    margin: 0;
    padding: 0;
}

