@import url('global-popup.css');

.popup {
    height: 63%;
    width: 20%;
}

.header {
    margin: 40px 20px;
}

.close {
    top: 5%;
    left:84%;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 600px;
}

.sign-up {
    user-select: none;
    border: none;
    font-family: Monocraft;
    transition: all .3s cubic-bezier(0.07, 0.61, 0.39, 1.69);
}

.sign-up:hover {
    cursor: pointer;
    text-shadow: 0 0 10px white;
}

.sign-up {
    margin: 55px 0 30px;
    height: 70px;
    background-color: var(--blue);
    color: white;
    width: 100%;
    font-size: 30px;
}

.log-in {
    background-color: transparent;
    color: var(--text-shadow);
    width: 40%;
    font-size: 30px;
}

.log-in:hover {
    text-shadow: 0 0 10px var(--text-shadow);
}

.sign-up:hover, .log-in:hover {
    font-size: 35px;
}

.sign-up:active, .log-in:active {
    font-size: 30px;
}