@import url('global.css');
@import url('nav.css');
@import url('popup.css');

@font-face {
    font-family: Monocraft;
    src: url('../fonts/Monocraft.woff');
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("../components/back.gif");
    background-position: center;
    background-size: cover;
    font-family: Monocraft;
    font-size: 25px;
}



