@import url('global.css');
@import url('nav.css');
@import url('popup.css');
@import url('ct-style.css');

:root {
    --bg-img: url("../components/back.gif");
    --bg-size: cover;
}

@font-face {
    font-family: Monocraft;
    src: url('../fonts/Monocraft.woff');
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    background-image: var(--bg-img);
    background-position: center;
    background-size: var(--bg-size);
    font-family: Monocraft;
    font-size: 25px;
    transition: all .1s ease;
}

.change {
    --bg-img: url("../components/forest.jpg");
    --bg-size: contain;
    nav {
        display: none;
    }
    background-repeat: no-repeat;
}

.img-container {
    display: none;
}
