@import url('global.css');
@import url('popup.css');
@import url('edit-popup.css');

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: Monocraft;
    font-size: 25px;
}

nav {
    display: flex;
}

ul {
    position: fixed;
    height: 100%;
    width: 3%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10%;
    background: white;
    list-style-type: none;
    color: var(--text-color);
    border-right: 5px solid var(--blue);
}

li {
    user-select: none;
    transition: all .3s cubic-bezier(0.07, 0.61, 0.39, 1.69);
}

li:hover {
    text-shadow: 0 0 10px var(--text-shadow);
    transform: scale(1.25);
    cursor: pointer;
}

li:active {
    transform: scale(1);
}

.container {
    margin: 2%;
    margin-left: 5%;
    column-count: 4;
}

.add-new {
    color: var(--text-color);
    background-color: transparent;
}

.card {
    break-inside: avoid;
    margin-bottom: 10%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px var(--blue);
    border: 5px solid var(--blue);
    transition: all .5s cubic-bezier(0, 0, 0.17, 1.67);
}

.card-body img {
    display: block;
    height: auto;
    width: 100%;
    user-select: none;
    border-top: 5px solid var(--blue);
    border-bottom: 5px solid var(--blue);
}

.card .card-title h2 {
    font-weight: 400;
    padding: 2%;
    font-size: 25px;
    user-select: none;
    color: var(--text-color);
}

.card .card-footer {
    padding: 4%;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}

.card .card-footer .flex-vectors {
    display: flex;
    align-items: center;
    gap: 30px;
}

.card .card-footer .vector {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all .5s cubic-bezier(0, 0, 0.17, 1.67);
}

.card .card-footer .vector:hover {
    filter: drop-shadow(0 0 10px var(--text-shadow));
    transform: scale(1.25);
}

.card .card-footer .vector:active {
    transform: scale(1);
}

li svg:hover {
    filter: drop-shadow(0 0 10px var(--text-shadow));
}

@media (width >= 2100px) {
    .container {
        column-count: 6;
    }
}

@media (width >= 1900px) {
    .container {
        column-count: 5;
    }
}

@media (width <= 1600px) {
    .container {
        column-count: 4;
    }
}

@media (width <= 1200px) {
    .container {
        margin: 8%;
        column-count: 3;
    }

    ul {
        position: fixed;
        height: 10%;
        width: 100%;
        padding: 0;
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        gap: 10%;
        background: white;
        list-style-type: none;
        color: var(--text-color);
        border-right: none;
        border-bottom: 5px solid var(--blue);
    }
}

@media (width <= 800px) {
    .container {
        column-count: 2;
        margin: 10%;
    }

    ul {
        height: 15%;
    }
}

@media (width <= 500px) {
    .container {
        column-count: 1;
    }
}




